<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>INGRESAR</title>
<link rel="stylesheet" type="text/css" href="styless.css">
</head>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="card">
			
				<form th:action="@{/saveregis}" th:object=${login} class="box" method="POST">
					<h1>Registrarse</h1>
					<p class="text-muted">¡Por favor ingresa tus datos!</p>
					<input type="text" h:field="*{usuario}" name="usuario" placeholder="Usuario"> <input
						type="text"  h:field="*{correo}"name="correo" placeholder="Correo"><input
						type="password" h:field="*{contraseña}" name="contrasena" placeholder="Contraseña"> 
						
												<div class="card-footer">
						<input type="submit" value="Guardar" class=" btn btn-success">
					</div>
					</div>
					<a th:href="@{/pagin}" class="btn btn-primary">Iniciar Sesion</a>
					<div class="col-md-12">
						<ul class="social-network social-circle">
							<li><a href="#" class="icoFacebook" title="Facebook"><i
									class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" class="icoTwitter" title="Twitter"><i
									class="fab fa-twitter"></i></a></li>
							<li><a href="#" class="icoGoogle" title="Google +"><i
									class="fab fa-google-plus"></i></a></li>
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.8.1/css/all.css"></script>
</body>


</body>
</html>